flask==2.3.3
flask-login==0.6.3
flask-sqlalchemy==3.1.1
gunicorn==23.0.0
mistralai==1.7.0
numpy==2.2.5
psycopg2-binary==2.9.9
python-docx==1.1.2
requests==2.32.3
sqlalchemy==2.0.28
werkzeug==3.0.1
email-validator==2.1.1
anthropic
docx
email-validator==2.1.1
flask==2.3.3
flask-login==0.6.3
flask-sqlalchemy==3.1.1
flask-wtf
gunicorn==23.0.0
mistralai==1.7.0
numpy==2.2.5
openai
psycopg2-binary==2.9.9
python-docx==1.1.2
requests==2.32.3
sqlalchemy==2.0.28
werkzeug==3.0.1
flask-login
flask-wtf